<h1>Hello <%= current_user.first_name if user_signed_in? %></h1>
<p>You are about to submit a request to the organization <%= @pending.organization.name %></p>

<%=
  link_to_if(!(user_signed_in?), "Login", { controller: "sessions", action: "new" }) do
    link_to "Continue", claim_organizations_path({organization: @pending.organization}), method: :post
  end
%> |
<%= link_to "Don't Continue", organization_path(@pending.organization) %>
