<tr id="<%= dom_id(tech_stack) %>" style="width: 300">
  <td>
    <%= tech_stack.name %>
  </td>
  <td>
    <%= link_to "Remove", tech_stack_path(tech_stack),
                          data: {confirm: "Are you sure?"},
                          method: :delete,
                          remote: true %>
  </td>
</tr>
