<%# @organizations.each do |o| %>
<% organizations.each do |o| %>
  <div data_id=<%= o.id %>>
    <img src= <%= o.logo %> ></img>
    <%= link_to o.name, public_organization_path(o) %>
    <p><%= o.employee_count %> employees
  </div>
<% end %>
