// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#event-list {
  list-style-type: none;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 100px;
  font-size: 20px;
}

#search {
  margin-bottom: 15px;
}

#calendar-event {
  margin-bottom: 15px;
  border-radius: 5px;
  border-color: "lightgrey";
}

input.empty {
    font-family:Arial, FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
