// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tech-stacks {
  float: left;
  width: 20%;
}

#team-size {
  float: right;
  width: 20%
}

#org-search {
  width: 20%;
}

#org-search-text.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
