// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tech-stack-dropdown {
  float: left;
}

#team-size-dropdown {
  float: right;
}

.btn-custom {
  background: #3e3f3a;
  color: white;
}
