// Place all the styles related to the meetups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.label_field_class {
  margin-right: 20px;
  font-size: 18px;
  float: right;
}

.input_field_class.form-control {
  width: 30%;
  float: left;
}

.error {
  display: block;
  color: red;
}

.btn-primary.create.form-control {
  width: 15%;
}
