// Place all the styles related to the news_searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.x-span {
  float: right;
}

label {
  display: none;
}

#news_search_search_term {
  width: 30%;
  float: left;
}
